<article class="listing">
  <h3 class="h3margin">{{post.id}}</h3>
  <div>
    <span>User ID:</span> {{post.userId}}
  </div>
  <div>
    <span>Title:</span> {{post.title}}
  </div>
  <div>
    <span>Body:</span> {{post.body}}
  </div>
</article>