<article class="listing">
  <span>----------------------------------------------</span>
  <h3>{{post.id}}</h3>
  <div class="post title">
    <span>User ID:</span> {{post.userId}}
  </div>
  <div class="post title">
    <span>Title:</span> {{post.title}}
  </div>
  <div class="post title">
    <span>Body:</span> {{post.body}}
  </div>
  <span>----------------------------------------------</span>
</article>